<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create article</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <header>
      <p class="heading">ARTICLE-SWIFTPRO</p>
      <a href="/">Homepage</a>
    </header>
    <ul>
      <li><a href="/article">All Articles</a></li>
      <li><a href="/article/create">Create Article</a></li>
      <li><a href="/article/:id">Get an article by ID.</a></li>
      <li><a href="/article/:id/update">Update article</a></li>
      <li><a href="/article/:id/delete">Delete article</a></li>
    </ul>
    <section class="create">
      <h1>New Article</h1>
      <form action="/article/create" method="post">
        <label for="fname">Name:</label>
        <input
          type="text"
          name="name"
          id="name"
          value="<%= locals.name %>"
          required
        />
        <br /><br />
        <label for="info">Info:</label>
        <textarea name="info" id="info" value="<%= locals.info %>" required>
        </textarea>
        <br />
        <br />
        <label for="postedBy">Posted By:</label>
        <input
          type="text"
          name="posted_by"
          id="postedBy"
          value="<%= locals.posted_by %>"
          required
        />
        <br />
        <br />
        <button type="submit" class="create-btn">Create</button>
      </form>
    </section>
  </body>
</html>
