<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Article</title>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <header>
      <p class="heading">ARTICLE-SWIFTPRO</p>
      <a href="/">Homepage</a>
    </header>
    <ul>
      <li><a href="/article">All Articles</a></li>
      <li><a href="/article/create">Create Article</a></li>
      <li><a href="/article/:id">Get an article by ID.</a></li>
      <li><a href="/article/:id/update">Update article</a></li>
      <li><a href="/article/:id/delete">Delete article</a></li>
    </ul>
    <article>
      <h1>Delete your article:</h1>
      <form action="/" method="post">
        <label for="id">Enter the id of your article:</label>
        <input type="text" name="id" />
        <br /><br />
        <button type="submit">Delete</button>
      </form>
    </article>
  </body>
</html>
