header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header p {
  display: inline-block;
}
header a {
  display: inline-block;
}
.heading{
  font-weight: bold;
  font-size: 2em;
}
.articlesdiv {
  margin-right: 10px;
}